{% extends "base.html" %}
{% block content %}
<br>
<title>About Us</title>
<h1> About </h1>
<h3>This website is designed for Texas A&M University ECEN689-603 Machine Learning with Networks Final Project.</h3>
<h3>Implementation Environment</h3>
<p>This project uses the VirtualBox as the virtual machine for the development. Ubuntu 14.04 is the configured environment as the Django environment as well as its necessary liberaries can be easily installed on Ubuntu machines. SQLite3 is used as database in this project.</p>
<h3>Acknowledgement</h3>
<p>In the website developing process, the online tutorials <a href='http://www.djangobook.com/en/2.0/index.html'>The Django Book</a> and <a href='https://docs.djangoproject.com/en/1.8/intro/tutorial01/'>The Django Project</a> as well as a Youtube Channel Sentdex, particularly for its <a href='https://www.youtube.com/playlist?list=PLQVvvaa0QuDcTDEowl-b5nQlaDaD82r_s'>Django Development Series</a> were referenced/followed.  --Muqing </p>


{% endblock %}