<!DOCTYPE html>
<html lang='en'>

<head>

	<meta charset="utf-8" />

	<link rel="stylesheet" href="/static/css/styles.css" type="text/css"/>
	<meta name"viewport content = "width-device-width, initial-scale=1.0">
</head>

<body class="body">
	<header class="mainHead">
        <div align="center">
		<img src="https://dff2h0hbfv6w4.cloudfront.net/images/backgrounds/nba.jpg" width="960" height="600">
		</div>
		<nav><ul>
			<li><a href='/nbamatch'>Home</a></li>
			<li><a href='/nbamatch/newslist'>News Archive</a></li>
			<li><a href='/nbamatch/input'>Match Your NBA Player</a></li>
			<li><a href='/nbamatch/about'>About</a></li>
			<li><a href='/nbamatch/contact'>Contact</a></li>
			<li><a href='/admin'>Manage</a></li>
		
		</ul></nav>
	</header>

{% block content %}
{% endblock %}	
    
    <footer class="mainfooter">
    <div align="center">
    	<p> copyright &copy; 2015, website by Muqing Zhou, Algorithm by Dayang Xiang, all rights reserved</p>
    </div>
    </footer>

</body>
</html>
