{% extends "base.html" %}
{% block content %}
<br>
<title>Contact Us</title>
<h1> Contact </h1>
<div class="container">
	<div class="position_image">       
         <img src="http://imageshack.com/a/img540/3176/4HAjYA.jpg" alt="Center" style="width:300px;height:300px">
         <h2><a href="https://www.linkedin.com/profile/view?id=298118130&trk=nav_responsive_tab_profile_pic">Muqing Zhou</h2></a>
         <p>Master Student</p>
         <p>Majoring in Computer Engineering</p>
         <p>Email: zhoumuqing@tamu.edu</p>
         
    </div>

    <div class="position_image">
    <img src="http://imageshack.com/a/img633/2023/Ojst1D.jpg" alt="Point Guard" style="width:300px;height:300px">
    <h2><a href="https://www.linkedin.com/profile/view?id=366457344&authType=NAME_SEARCH&authToken=84N2&locale=zh_CN&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2Cidx%3A1-1-1%2CtarId%3A1431816362221%2Ctas%3Adayang">Dayang Xiang</h2></a>
    <p>Master Student</p>
    <p>Majoring in Computer Engineering</p>
    <p>Email: xiangdayang.2014@tamu.edu</p>
  
    </div>
<br>

{% endblock %}