{% extends "base.html" %}
{% block content %}
	
    <aside class="sideInfo">
    	<article>
    		<h3>Recent News</h3>
    		{% for post in object_list%}
    		<p>{{ post.date|date:"Y-m-d" }}<a href="/nbamatch/{{post.id}}"> {{ post.title }}</a></p>
    		{% endfor %}
    	</article>
    </aside>

{% for post in object_list %}
<div class="mainContent">
	<div class = "content">
		<article class="typicalArticle">
			<header>
				<h3><a href="/nbamatch/{{post.id}}">{{ post.title }}</a></h3>
			</header>
			<footer>
				<p class = 'postInfo'>Posted {{ post.date }}</p>
			</footer>
			<content>
				<p>	{{ post.body|safe|linebreaks}} </p>
		</article>
	</div>
</div>
{% endfor %}
{% endblock %}