{% extends "base.html" %}
{% block content %}
<br>
<div align="center"> 
<h3>The most matched NBA player to you is </h3> 
<h2>{{result}}</h2>
</div>

<p>Power Forwards play a role similar to that of center in what is called the "post" or "low blocks". They typically play offensively with their backs towards the basket and position themselves defensively under the basket in a zone defense or against the opposing power forward in man-to-man defense. </p>

<div align="center"> 
<h3>Matching Results</h3>
<table>
    <tbody>
    <tr><td><strong><center>Actually Static Data</center></strong></td></tr>
    <tr>
        <td>Player Name</td>
        <td><strong>{{result}}</strong></td>
    </tr>
    <tr>
        <td>Two Point Prcent</td>
        <td>{{para1}}%</td>
    </tr>
    <tr>
        <td>Free Throws</td>
        <td>{{para2}}</td>
    </tr>
    <tr>
        <td>TRB</td>
        <td>{{para3}}</td>
    </tr>
    <tr>
        <td>Assists</td>
        <td>{{para4}}</td>
    </tr>
    <tr>
        <td>Steals</td>
        <td>{{para5}}</td>
    </tr>
    <tr>
        <td>Blocks</td>
        <td>{{para6}}</td>
    </tr>
 
    <tr><td><strong><center>Comparison(User/Matched Player)</center></strong></td></tr>
    <tr>
        <td>Two Point Prcent</td>
        <td>{{user_para1}}/{{para1n}}</td>
    </tr>
    <tr>
        <td>Free Throws</td>
        <td>{{user_para2}}/{{para2n}}</td>
    </tr>
    <tr>
        <td>TRB</td>
        <td>{{user_para3}}/{{para3n}}</td>
    </tr>
    <tr>
        <td>Assists</td>
        <td>{{user_para4}}/{{para4n}}</td>
    </tr>
    <tr>
        <td>Steals</td>
        <td>{{user_para5}}/{{para5n}}</td>
    </tr>
    <tr>
        <td>Blocks</td>
        <td>{{user_para6}}/{{para6n}}</td>
    </tr>

</table> 

{% endblock %}
